@using Webdiyer.WebControls.Mvc
@model  Webdiyer.WebControls.Mvc.PagedList<BlogSystem.Dto.ArticleDto>

@{
    ViewBag.Title = "PersonalArticleList";
    Layout = "~/Views/Shared/layui-user.cshtml";
    ViewBag.userImg = ViewBag.Users.ImagePath;
    ViewBag.userName = ViewBag.Users.SiteName;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/static/layui/css/layui.css" rel="stylesheet" media="all" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

    <div class="layui-tab-item layui-show">
        <div class="layui-main">
            <div id="LAY_preview">
                <div class="layui-form-item ">
                    <div class="layui-row">
                        <div class="layui-col-xs4">
                            @Html.ActionLink("发布新文章", "../article/CreateArticle")
                        </div>
                        <div class="layui-col-xs4">
                            <div class="grid-demo">
                                <div class="grid-demo grid-demo-bg1">
                                    <div class="input-group ">
                                        <input type="text" class="form-control" placeholder="请选择博客类别或者输入相关内容">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default
                        dropdown-toggle" data-toggle="dropdown">
                                                快速搜索
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="#">功能</a>
                                                </li>

                                            </ul>
                                        </div><!-- /btn-group -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs4">
                            <div class="grid-demo"></div>
                        </div>
                    </div>
                    <!-- /input-group -->



                </div>
                <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" lay-id="test">
                    <div class="layui-table-box">
                        <div class="layui-table-header">

                            <table cellspacing="0" cellpadding="0" border="0" class="layui-table" style="width:100%">

                                <thead>

                                    <tr data-field="id" data-key="1-0-0" class=" layui-unselect">
                                        <th>
                                            <div class="layui-table-cell laytable-cell-1-0-0">
                                                <span>标题</span>
                                                <span class="layui-table-sort layui-inline">
                                                    <i class="layui-edge layui-table-sort-asc" title="升序"></i>
                                                    <i class="layui-edge layui-table-sort-desc" title="降序"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="layui-table-cell laytable-cell-1-0-0">
                                                <span>内容</span>
                                                <span class="layui-table-sort layui-inline">
                                                    <i class="layui-edge layui-table-sort-asc" title="升序"></i>
                                                    <i class="layui-edge layui-table-sort-desc" title="降序"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="layui-table-cell laytable-cell-1-0-0">
                                                <span>创建时间</span>
                                                <span class="layui-table-sort layui-inline">
                                                    <i class="layui-edge layui-table-sort-asc" title="升序"></i>
                                                    <i class="layui-edge layui-table-sort-desc" title="降序"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="layui-table-cell laytable-cell-1-0-0">
                                                <span>点赞数</span>
                                                <span class="layui-table-sort layui-inline">
                                                    <i class="layui-edge layui-table-sort-asc" title="升序"></i>
                                                    <i class="layui-edge layui-table-sort-desc" title="降序"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="layui-table-cell laytable-cell-1-0-0">
                                                <span>差评数</span>
                                                <span class="layui-table-sort layui-inline">
                                                    <i class="layui-edge layui-table-sort-asc" title="升序"></i>
                                                    <i class="layui-edge layui-table-sort-desc" title="降序"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="layui-table-cell laytable-cell-1-0-0">
                                                <span>浏览量</span>
                                                <span class="layui-table-sort layui-inline">
                                                    <i class="layui-edge layui-table-sort-asc" title="升序"></i>
                                                    <i class="layui-edge layui-table-sort-desc" title="降序"></i>
                                                </span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="layui-table-cell laytable-cell-1-0-0">
                                                <span>操作</span>

                                            </div>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr data-index="0" class="">
                                        <td>
                                            <div class="layui-table-cell"> @Html.DisplayFor(modelItem => item.Title)</div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell" style="width:200px">

                                                @Html.DisplayFor(modelItem => item.Content)
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell"> @Html.DisplayFor(modelItem => item.CreateTime)</div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell">     @Html.DisplayFor(modelItem => item.GoodConut)</div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell">     @Html.DisplayFor(modelItem => item.BadCount)</div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell">   @Html.DisplayFor(modelItem => item.BrowseCount) </div>
                                        </td>
                                        <td>
                                            <a target="_blank" class="layui-btn layui-btn-xs" href="../Article/EditArticle/@item.Id">编辑</a>
                                            |   <a target="_blank" class="layui-btn layui-btn layui-btn-xs" href="../Article/ArticleDetails/@item.Id" style="background-color:dodgerblue">详情</a>
                                            |
                                            <a onclick="deleteArticle('@item.Id',true)" lay-event="del" class="layui-btn layui-btn-danger layui-btn-xs">删除</a>


                                        </td>

                                    </tr>
                                    }
                                </tbody>

                            </table>
                            <div class="layui-table-page">
                                <nav>
                                    @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageIndex", ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"> <a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"> <a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", Id = "bootstrappager" })
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div>
    </div>


    <script src="~/static/js/jquery.min.js"></script>
    <script src="~/static/js/bootstrap.min.js"></script>
    <script src="~/static/layui/layui.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

    <style>

        .pagination {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0;
            padding: 3px;
        }
    </style>



    <script>


        function deleteArticle(articleId, state) {

            $.ajax({
                url: "../Article/DeleteOneArtcileById",
                type: "post",
                data: {
                    Id: articleId,
                    isConfirm: state
                }
            }).done(() => {

                if (state) {
                    alert("已成功删除");
                }
                else {
                    alert("博客已成功下架");


                }

                location.reload();
            });


        }

    </script>
</body>
</html>

