@using Webdiyer.WebControls.Mvc
@model  Webdiyer.WebControls.Mvc.PagedList<BlogSystem.Dto.ArticleDto>

@{
    ViewBag.Title = "ArticleList";

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <style type="text/css">
        #myCarousel .carousel-inner > .item > img {
            display: block;
            width: 100%;
            height: 300px;
        }
    </style>
    <link rel="shortcut icon" href="~/static/images/gt_favicon.png">
    <link rel="stylesheet" href="~/static/css/bootstrap.no-icons.min.css" />
    <link rel="stylesheet" href="~/static/css/font-awesome.css" />
    <link rel="stylesheet" href="~/static/css/font_family.css" />
    <link rel="stylesheet" href="~/static/css/styles.css">
    <style>
        .entry-content:hover {
            box-shadow: 0 0 3px #000;
            background-color: #F2F2F2
        }
    </style>
    <!--[if lt IE 9]> <script src="~/static/js/html5shiv.js"></script> <![endif]-->
</head>

<body>

    <header id="header">

        <div class="container-fluid text-left" data-spy="scroll" data-target="#navbar-example" data-offset="0" style=" position: relative;">


            <!--轮播区域-->
            <div id="myCarousel" class="carousel slide">
                <!--轮播指标-->
                <!--轮播指标-->
                <!--轮播项目-->
                <div class="carousel-inner" style="height: 300px;">
                    <div class="item active">

                        <img src="~/Image/Banners/2019102805.jpg" />

                        <div class="carousel-caption">
                            <div id="logo" class="text-center">
                                <h3 id="logo" class="text-center">
                                    <img class="img-circle" src="@ViewBag.User.ImagePath" alt="" style="margin-bottom:15px;height:150px;width:150px">   <br />
                                    <span class="title"></span>
                                    <span class="tagline" style="color:black;font-size:25px">@ViewBag.User.Motto</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/Image/Banners/2019071418.jpg" />
                        <div class="carousel-caption">
                            <h3 id="logo" class="text-center">
                                <img class="img-circle" src="@ViewBag.User.ImagePath" alt="" style="margin-bottom:15px;height:150px;width:150px">   <br />
                                <span class="title"></span>
                                <span class="tagline" style="color:black;font-size:25px">@ViewBag.User.Motto</span>
                            </h3>
                        </div>
                    </div>
                    <div class="item">

                        <img src="~/Image/Banners/2019102802.jpg" />
                        <div class="carousel-caption">
                            <h3 id="logo" class="text-center">
                                <img class="img-circle" src="@ViewBag.User.ImagePath" alt="" style="margin-bottom:15px;height:150px;width:150px">   <br />
                                <span class="title"></span>
                                <span class="tagline" style="color:black;font-size:25px">@ViewBag.User.Motto</span>
                            </h3>
                        </div>
                    </div>
                    <div class="item">

                        <img src="~/Image/Banners/2019071419.jpg" />
                        <div class="carousel-caption">
                            <h3 id="logo" class="text-center">
                                <img class="img-circle" src="@ViewBag.User.ImagePath" alt="" style="margin-bottom:15px;height:150px;width:150px">   <br />

                                <span class="title"></span>
                                <span class="tagline" style="color:black;font-size:25px">@ViewBag.User.Motto</span>
                            </h3>
                        </div>
                    </div>
                </div>
                @*圆点可以去*@
                <ol class="carousel-indicators" style="bottom:2px">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <!--轮播控制器-->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <!--轮播控制器-->
            </div>


        </div>
        <nav class="navbar navbar-default navbar-sticky">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>

                <div class="navbar-collapse collapse">


                    <ul class="nav navbar-nav nav-tabs">
                        <li>
                            <a href="/Article/AllArticleList">主页</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                我的
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("发布新文章", "CreateArticle")
                                </li>
                                <li>
                                    @Html.ActionLink("修改个人资料", "../user/EditUserInfo")
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="../User/PersonalArticleList">个人中心</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">博客墙</a>
                        </li>
                        <li>
                            <a href="#">吐槽</a>
                        </li>
                    </ul>

                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </header>


    <main id="main">

        <div class="container">

            <div class="row topspace">

                <!-- Article main content -->
                <div class="col-sm-8 maincontent">
                    @foreach (var item in Model)
                    {


                        <article class="post ">
                            <header class="entry-header">
                                <h3 class="title"><a href="single.html" rel="bookmark">@Html.ActionLink("" + @Html.DisplayFor(modelItem => item.Title) + "", "ArticleDetails", new { id = item.Id })</a></h3>
                                <div class="entry-meta">
                                    <span class="posted-on"><time class="entry-date published" date="2013-09-27">@Html.DisplayFor(modelItem => item.CreateTime)</time></span>
                                </div>
                            </header>
                            <div class="entry-content  ">
                                <div class="big">

                                    @Html.Raw(item.Content)

                                </div>

                                <span style="float:right" class="more-link">@Html.ActionLink("阅读更多", "ArticleDetails", new { id = item.Id })&#8230;</span>

                            </div>
                        </article>

                    }

                </div>

                <!-- /Article -->
                <!-- Sidebar -->
                <aside class="col-md-4 sidebar sidebar-left">

                    <div class="widget">
                        <h4>我的分类</h4>
                        <ul>
                            @foreach (var item in Model)
                            {
                                <li><a href="">@Html.DisplayFor(modelItem => item.CategoryNames)</a> </li>


                            }
                        </ul>
                    </div>


                    <div class="widget">
                        <h4>人气博客</h4>
                        <ul>
                            @foreach (var item in ViewBag.HotArticles)
                            {
                                <li><a href="../Article/ArticleDetails/@item.Id">@item.Title</a> </li>


                            }

                        </ul>
                    </div>

                    <div class="widget">
                        <h4>最新评论文章</h4>
                        <ul id="sss">
                         

                            @foreach (var item in ViewBag.Articles)
                            {
                                <li><a href="../Article/ArticleDetails/@item.Id">@item.Title</a> </li>


                            }


                        </ul>
                    </div>

                    <div class="widget">
                        <h4>友情链接</h4>
                        <ul></ul>
                    </div>

                </aside>
                <!-- /Sidebar -->

            </div>
            <center class="" style="margin-top:80px">

                <nav>
                    @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pageIndex", ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"> <a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"> <a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>", Id = "bootstrappager" })
                </nav>
            </center>
        </div>

    </main>


    <script src="~/static/js/jq.js"></script>

    <script src="~/static/js/boot.js"></script>
    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="~/static/js/jquery.min.js"></script>

    <script type="text/javascript" src="~/static/js/bootstrap.min.js"></script>
    <script src="~/static/js/template.js"></script>
    <script>
      

        function btnDelete(btn) {
            if (confirm("您确定要删除吗？")) {
                $.ajax({
                    url: "/Article/DeleteOneArtcileById/" + btn.value,
                    type: "post",
                }).done(() => {
                    alert("ok");

                });
            }



        }
    </script>
    <style>
        .pagination {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0;
            padding: 3px;
        }
    </style>
</body>

</html>





