@model BlogSystem.Dto.ArticleDto


@{
    ViewBag.Title = "ArticleDetails";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <link rel="shortcut icon" href="~/static/images/gt_favicon.png">
    <link rel="stylesheet" href="~/static/css/bootstrap.no-icons.min.css" />
    <link rel="stylesheet" href="~/static/css/font-awesome.css" />
    <link rel="stylesheet" href="~/static/css/font_family.css" />
    <link rel="stylesheet" href="~/static/css/styles.css">

  

    <!--[if lt IE 9]> <script src="~/static/js/html5shiv.js"></script> <![endif]-->
</head>

<body>
    <header id="header">


        <nav class="navbar navbar-default navbar-sticky">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>

                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/Article/AllArticleList">主页</a>
                        </li>
                        <li>
                            <a class="" href="/Article/ArticleList2">
                                我的

                            </a>

                        </li>
                        <li>
                            <a href="#">博客墙</a>
                        </li>
                        <li>
                            <a href="#">吐槽</a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
    </header>

 
    <main id="main">

        <div class="container " style="background-color:#F7F7F7">

            <div class="row topspace">

                <!-- Article main content -->
                <article class="col-sm-11 maincontent">
                    <header class="entry-header" id="">
                        <h1 class="entry-title"><a href="#" rel="bookmark"> @Html.DisplayFor(model => model.Title)</a></h1>
                        <div style="width:60%;margin: 20px auto ">
                            <ul class="nav-justified nav">
                                <li>  <span class="author"><span class="glyphicon glyphicon-user">：</span><span class="posted-on">@Model.Name</span></span></li>
                                <li> <span class="posted-on"><time class="entry-date published" date="2013-06-17"><span class="glyphicon glyphicon-time">：</span>@Html.DisplayFor(model => model.CreateTime)</time></span></li>
                                <li> <span class="	glyphicon glyphicon-eye-open">：</span><span class="posted-on">@Model.BrowseCount</span></li>
                            </ul>




                        </div>

                    </header>
                    <div class="entry-content">
                        <p>@Html.Raw(Model.Content)</p>
                    </div>

                    <footer class="lift-target">
                        <div class="row">

                            <div class="col-md-4 text-left">
                                <p>
                                    本文作者为 @Model.Name ，如需转载，请说明;
                                    <br />如需商用请联系 @Html.DisplayFor(model => model.Eamil)
                                </p>

                            </div>

                            <div class="col-md-8 text-right">
                                <span class="author"><span class="glyphicon glyphicon-pushpin">类别 ：</span></span>

                                @foreach (var item in Model.CategoryNames)
                                {
                                    <span class="label label-primary">@item</span>


                                }

                            </div>
                        </div>
                  

                        <div style="margin:15px" class="p1" data-asyncload>
                            <span class="share">
                                一键分享
                                <div  class="share_content">
                                    <!-- baidu Button BEGIN -->
                                    <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1525756207513">
                                        <a href="#" class="bds_more" data-cmd="more"></a>
                                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                    </div>
                                    <script>
                                        window._bd_share_config = {
                                            "common": {
                                                "bdSnsKey": {},
                                                "bdText": "",
                                                "bdMini": "2",
                                                "bdMiniList": false,
                                                "bdPic": "",
                                                "bdStyle": "0",
                                                "bdSize": "16"
                                            },
                                            "share": {}
                                        };
                                        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src =
                                            'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() /
                                                36e5)];
                                    </script>
                                    <!-- baidu Button END -->
                                </div>
                            </span>
                            <div class="navbar-collapse collapse">

                                <ul class="nav navbar-nav">
                                    <li>

                                        <button class="btn btn-action" onclick="btnGoodHandler(this)"> <span class="glyphicon glyphicon-thumbs-up"> </span>&nbsp;&nbsp;赞他</button>

                                    </li>
                                    <li>
                                        <button class="btn btn-action" onclick="btnBadHandler(this)"> <span class="glyphicon glyphicon-thumbs-down"> </span>&nbsp;&nbsp;踩他</button>
                                    </li>
                                    <li>
                                        <button class="btn btn-action"> <span class="	glyphicon glyphicon-briefcase"> </span>&nbsp;&nbsp;打赏</button>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </footer>
                </article>

                <div class="col-sm-11 maincontent">

                    <div id="comments">

                        <div class="clearfix"></div>

                        <nav id="comment-nav-below" class="comment-navigation clearfix" role="navigation">
                            <div class="nav-content">
                                <div class="nav-previous"><a href="#">&larr; 上一篇</a></div>
                                <div class="nav-next"><a href="#">&rarr; 下一篇</a></div>
                                <div class="nav-next"> @Html.ActionLink("返回列表页", "ArticleList2")</div>
                            </div>
                        </nav> 
                       
                            <!-- #comment-nav-below -->
                            <br />

                            <br />
                            <h4 class="comments-title"> <span class="glyphicon glyphicon-comment"></span> 留下你的评论</h4>
                            <a href="#comment-form" class="leave-comment"></a>
                            <input type="text" name="txtComment" id="txtComment" value="" placeholder="请输入您的评论" />
                            <button class="btn btn-action" onclick="addComment()"> 发表评论</button>

                            <ol class="comments-list">
                                @foreach (var commnet in ViewBag.Comments)
                                {
                                    <li class="comment">
                                        <div>
                                            @using System.Text;
                                            @{
                                                string src = Model.ImagePath;

                                                string[] srcArry = src.Split('/');
                                            }

                                            <img src="@Html.Raw("/"+srcArry[1].ToString()+"/"+srcArry[2].ToString())" alt="Avatar" class="avatar">

                                            <div class="comment-meta">
                                                <span class="author"><a href="#"> @commnet.Name</a></span>
                                                <span class="date"><a href="#">@commnet.CreateTime</a></span>
                                                <span class="reply"><a href="#">回复</a></span>
                                            </div>
                                            <div class="comment-body">
                                                @commnet.Content
                                            </div>
                                        </div>

                                        @*<ul class="children">
                            <li class="comment">
                                <div>
                                    <img src="~/~/static/images/avatar_man.png" alt="Avatar" class="avatar">

                                    <div class="comment-meta">
                                        <span class="author"><a href="#">John Doe</a></span>
                                        <span class="date"><a href="#">January 22, 2011 at 4:55 pm</a></span>
                                        <span class="reply"><a href="#">回复</a></span>
                                    </div>
                                    <!-- .comment-meta -->

                                    <div class="comment-body">
                                        Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus.
                                    </div>

                                    <!-- .comment-body -->
                                </div>
                            </li>
                        </ul>*@

                                    </li>
                                }
                            </ol>
                    </div>

                </div>
            </div>
        </div>

    </main>

    <script type="text/javascript" src="~/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/static/js/bootstrap.min.js"></script>
    <script src="~/static/js/template.js"></script>
   
   
    <script>


    var articleId='@Model.Id';
    function btnGoodHandler(btn) {
        $.ajax({
            url: "/Article/GoodCount/"+articleId,
            type: "post",
        }).done(() => {
            alert("点赞成功");
            btn.disabled = true;
        });

    }
    function btnBadHandler(btn) {
        $.ajax({
            url: "/Article/BadCount/" + articleId,
            type: "post",
        }).done(() => {
            alert("反对   成功");
            btn.disabled = true;
        });

    }
    function addComment() {
        $.ajax({
            url: "/Article/AddComment",
            type: "post",
            data: {
                Id: '@Model.Id',
                Content: $('#txtComment').val()
            }
        }).done(() => {
            alert("添加评论成功");
            location.reload();
        });
        }

    </script>
</body>

</html>






